.dashboard {
    font-family: Arial, sans-serif;
    
    padding: 20px;
  }
  
  .file-upload {
    margin-bottom: 20px;
  }
  
  .dropdown {
    margin-bottom: 20px;
  }
  
  .color-dropdown {
    padding: 5px;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .selected-tweets {
    margin-top: 20px;
  }
  